# Xcode
DerivedData/
build/
*.xcuserstate

# User settings
xcuserdata/

# Swift Package Manager
.build/
Packages/

# macOS
.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Archives
*.xcarchive

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output