<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2ygMa5sDCpmPgxyMqqrd3ekk8IL0MNBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829092746861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LionTech.TaskFlow</string>
	<key>PROJECT_ID</key>
	<string>taskflow-cba8a</string>
	<key>STORAGE_BUCKET</key>
	<string>taskflow-cba8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829092746861:ios:b8b4733d273fd264b69164</string>
</dict>
</plist>